body{
  background-color: #27265E;
  color:#BDE9DD;
}

.my-photo{
  width:200px;
  height:150px;
}

.top{
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}

.top_navigation{
  display: flex;
}

.menu{
  display:flex;
  background-color: #73A5EB;
  height:75px;
  border:1px dashed grey;
  margin-top: 0px;
}

.menu li{
  align-self:center;
  list-style-type:circle;
  min-width:220px;
  min-height:30px;
  color:#fff;
  font-size:20px;
}

.menu li:hover{
  color: #7984EB;
}

.middle{
  display:flex;
  justify-content: stretch;
}

.h1_about{
  margin-top:0px;
}

.about{
  width:150px;
}

.about_wrapper{
  flex-direction: column;
  display: flex;
  align-items:center;
  border:1px solid gray;
  padding:10px;
  background-color: #9147FF;
  min-width: 100%;
}

.about_text{
  font-size:32px;
  word-spacing: 0.5em;
  border-left: 5px solid black;
  padding:10px;

}

.about_text::first-letter{
  font-size: 38px;

}

.skillsection{
  display: flex;
  justify-content: center;
}

.skills{
  padding:0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.skillsection li{
  margin:0 50px;
  display: flex;
  font-weight:normal;
  border:2px dashed blue;
  padding:25px;
}

.Experience{
  border:2px solid purple;
  width:100%;
  margin-top:150px;
}
