body,html{
height:100%;
background-color: #0E8BAD;



}
/* .wrapper{
  display:flex;

} */

.my-photo{
width:200px;
height:150px;
}



header{
display:flex;
justify-content: space-around;
}


.menu{
display:flex;
background-color: navy;
justify-content: flex-end;  /*not working*/
align-self:bottom;  /*not working*/
}


.menu li{
align-self:bottom; /*not working*/
list-style-type:circle;
min-width:220px;
min-height:30px;
border:2px solid black;
color:#fff;

}


#ab{
background-color: white;
display: flex;
width:600px;
justify-content: flex-end;
flex-direction: column;
align-items:center;
border:1px solid gray;
padding:10px;


}

.Experience{
border:2px solid purple;
width:500px;


}
