body,html{
height:100%;
/* background-color: #7A41E8; */
background-color: #27265E;
color:#fff;

}
/* .wrapper{
  margin-top: 0px;

} */

.my-photo{
width:200px;
height:150px;
}



header{
display:flex;
justify-content: space-around;
align-items: flex-start;
/* margin-top:0px; */ not working

}

nav{
display: flex;

}

.menu{
display:flex;
background-color: #73A5EB;
justify-content: center;  /*not working*/
align-self:stretch;  /*not working*/
height:75px;
border:1px dashed grey;
margin-top: 0px;
}



.menu li{
align-self:center;
list-style-type:circle;
min-width:220px;
min-height:30px;
color:#fff;
font-size:20px;

}
.menu li:hover{
color: #7984EB;

}

main{
display:flex;
justify-content: stretch;
}

.about{
transform: rotate(-90deg);
width:150px;
}

.about_wrapper{
font-family: font92631;
font-size:28px;
background-color: #9147FF;
display: flex;
/* width:600px; */ is not working if i want to strectch it
/* justify-content: center; */
align-items:center;
border:1px solid gray;
padding:10px;
word-spacing: 0.7em;
}

.skillsection{
  display: flex;
  justify-content: center;
}


#skills{

display: flex;
/* justify-content: flex-end; */
border:2px solid red;
/* height:50px; */
align-items: flex-end; /*Not working*/

}

.skillsection li{
  display: flex;
  font-weight:normal;
  border:2px dashed blue;
  padding:25px;
  /* justify-content: flex-end; */
}









.Experience{
border:2px solid purple;
width:500px;


}

h1{
background-color: blue;
margin-top:0px;

}
