body{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    
}

.container{
width: 1260px;
margin: 0 auto;
}

header{
    background: #004ff9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004ff9, #fff94c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004ff9, #fff94c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2{
    font-size:32px;
    text-align: center;
    padding-top:20px;
}

.menu, .list-block{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;

}
.menu-item{
    list-style-type: none;
    padding-right: 20px;
    font-size: 16px;
    padding-bottom: 15px;
}
a:link{
    color:pink;
    text-decoration:none;
}
a:hover, a:visited{
    color:blue;
    text-decoration:none;
}
.photo{
    background-color:#BACEDB;
}
h1{
    text-align:center;
    color: black;
    padding-top:20px;
}
.photo-block{
    text-align:center;
}
.photo img{
border-radius:50%;
}

.list-block{
    justify-content:center;
    background-color:#F5B0A0;
}
.list{
    width:30%;
    padding-right:20px;
    padding-left: 130px;
    margin: 0 auto;
    padding-top:20px;

}
.list img{
    width: 35px;
    display: block;
    margin: 0 auto;
    
}