h1, h2, h3, h4 {
    font-size: 38px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
}

h2 {
    padding-top: 65px;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: none;
}

a a:focus {
    outline: none;
}

p {
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px;
    font-size: 14px;
}

ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li, ol li {
    list-style: none;
}

.font-shadows-into {
    font-family: 'Shadows Into Light', cursive;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-common {
    background-color: #00b4d9;
    position: relative;
    z-index: 1;
}

.btn-common:hover {
    color: #fff;
    background-color: #21cff3;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
}

/* Header */
.navbar {
    padding: 0;
    background: #fff;
    min-height: 58px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #333;
    font-weight: 700;
    padding: 0 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
    color: #00b4d9;
    outline: none;
}

/* Banner Top */
.top-banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #3c2727;
    opacity: 0.6;
}

.top-banner {
    color: #fff;
    overflow: hidden;
    position: relative;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
}

.top-banner-content {
    padding: 175px 0px 120px;
}

.top-banner-content h5 {
    font-size: 50px;
}

.top-banner-content h2 {
    font-size: 80px;
    padding-top: 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.top-banner-content p {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

/* Footer */
.footer {
    background: #000;
    padding: 60px 0;
    color: #fff;
}

.social-icon li {
    display: inline-block;
}

.social-link {
    background: #fff;
    display: block;
    border-radius: 50%;
    border: 1px solid #999;
    transition: all 0.3s ease-in-out;
}

.social-link:hover {
    background: #00b4d9;
    border: 1px solid #00b4d9;
}

.social-link img {
    width: 64px;
    height: 64px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}